.container {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  font-family: "Courier New", Courier, monospace;
}
.TriviaQuestion {
  background-color: #fff;
  padding: 1rem 3rem 2rem 3rem;
  border-radius: 1rem;
  width: 60%;
}
h1 {
  text-align: center;
}
input[type="text"] {
  width: 98.7%;
  font-size: 1.1rem;
  font-family: "Courier New", Courier, monospace;
  outline: none;
  background: #f5f5f5;
  border: 1px solid black;
  padding: 0.6rem 0rem 0.6rem 0.6rem;
}

.submit {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options {
  flex: 0.9;
  display: flex;
  align-items: center;
}
p {
  margin-left: 1rem;
}
button {
  margin-left: 0.5rem;
  flex: 0.1;
  background-color: #d1544d;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1rem;
  padding: 1.5%;
  border: none;
  border-width: 0.2rem;
  color: #fff;
  transition: 500ms ease-in-out;
}
button:hover {
  color: #fff;
  background-color: #cd6434;
}
